<div class="header">
      <h2 class="font-weight-bold mx-5 my-4 ">Configuration Policy Management</h2>
      </div>

<div class="card m-4 ">
      <div class="card-header">
        <h4 class="font-weight-bold ">Host Name</h4>
      </div>
      <div class="card-body">
            <table class="table table-striped table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Status</th>
                      <th scope="col" >Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>User Account Control</td>
                      <td class="text-danger">Fix</td>
                      <td >theamfdjkvjjkjfkfkkfkfkkkkkkknvkjrktjbvjavajkvnkrfl.....</td>
                    </tr>
                    <tr>
                        <td>User Account Control</td>
                        <td class="text-success">Success</td>
                        <td>theamfdjkvjjkjfkfkkfkfkkkkkkkjfjgjrhqkslvjdjviqkso.....</td>
                      </tr>
                  </tbody>
                </table>
      </div>
    </div>