<div class="header">
      <h2 class="font-weight-bold mx-5 my-4 "> System Configuration Assesment </h2>
      </div>
      <div class="container box my-5">
      <div class="row card ">
            <div class="col-md-12 card-body d-flex justify-content-center"> 
                  icons
            </div>

            <div class="col-md-12 card-body d-flex justify-content-center"> 
                  <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Select Target
                    </button>
                   </p>
                   <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                              <div class=" row mx-4">
                                    <div class="tabs col-md-12 my-4">
                                    <div class="card m-4 ">
                                      <div class="card-header row mx-3">
                                        <div class="col-md-8">
                                        <h4 class="font-weight-bold ">Host</h4>
                                      </div>
                                      <div class="col-md-4 d-flex justify-content-end">
                                        <label class="search-label font-weight-bold " for="search">Search:</label>
                                        <input  id="search" class="search-input">
                                        </div>
                                      </div>
                              
                                      <div class="card-body ">
                                            <table class="table table-striped table-dark">
                                              <thead>
                                                <tr>
                                                  <th scope="col"></th>
                                                  <th scope="col">Host Name</th>
                                                  <th scope="col">CPU Types</th>
                                                  <th scope="col">RAM</th>
                                                  <th scope="col">IP Address</th>
                                                  <th scope="col">UP Time</th>
                                                  <th scope="col">OS Types</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                                                  <td>Yasmin</td>
                                                  <td>x58</td>
                                                  <td>12 MB</td>
                                                  <td>192.765.22</td>
                                                  <td>Days:5 <br> Hours:24</td>
                                                  <td>12.08</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                                                  <td>Yasmin</td>
                                                  <td>x58</td>
                                                  <td>12 MB</td>
                                                  <td>192.765.22</td>
                                                  <td>Days:5 <br> Hours:24</td>
                                                  <td>12.08</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                                                  <td>Yasmin</td>
                                                  <td>x58</td>
                                                  <td>12 MB</td>
                                                  <td>192.765.22</td>
                                                  <td>Days:5 <br> Hours:24</td>
                                                  <td>12.08</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                                                    <td>Yasmin</td>
                                                    <td>x58</td>
                                                    <td>12 MB</td>
                                                    <td>192.765.22</td>
                                                    <td>Days:5 <br> Hours:24</td>
                                                    <td>12.08</td>
                                                  </tr>
                                              </tbody>
                                            </table>
                                                
                                      </div>
                                    </div>
                                    </div>
                                  </div>

                          </div>
                  </div>
            </div>
          </div>
      </div>