<div class="header">
      <h2 class="font-weight-bold mx-5 my-4 ">Dashboard</h2>
      </div>
      
      <div class="container my-4">
        <div class="row justify-content-md-center">
          <div class="row box mx-5">
            <div class="col-lg-4 "><i class="fa-brands fa-windows text-info" ></i></div>
            <div class="col-lg-4 py-2">
              <h4 class="font-weight-bold ">Windows</h4>
              <p class="font-weight-bold">3</p>
          </div>
          </div>
  
          <div class="row box mx-5">
            <div class="col-lg-4"><i class="fa-brands fa-linux text-warning "></i></div>
            <div class="col-lg-4 py-2">
              <h4 class="font-weight-bold ">Linux</h4>
              <p class="font-weight-bold ">0</p>
          </div>
          </div>
          <div class="row box mx-5">
              <div class="col-lg-4 "><i class="fa-brands fa-apple text-success "></i></div>
              <div class="col-lg-4 py-2">
                <h4 class="font-weight-bold ">Mac</h4>
                <p class="font-weight-bold ">0</p>
            </div>
            </div>
        </div>
  </div>

<div class="tabs mx-4 ">
<div class="row justify-content-around m-4 ">
  <div class="col-2">
    <h5 class="font-weight-bold ">Top 3 Attacks :</h5>
  </div>
  <div class="col-4">
    <h5 class="font-weight-bold "> Time Alerts :</h5>
  </div>
</div>
  <div class="row justify-content-around">
      <div id="divchart" class="col-2 ">
        <canvas id="mychart" class="tab">
        </canvas>
      </div>

      <div  id="myChart" class="col-4">
        <canvas id="mychart1" class="tab" >
        </canvas>
      </div>
    </div>
  </div>



      


      <div class=" row mx-4">
            <div class="tabs col-md-12 my-4">
            <div class="card m-4 ">
              <div class="card-header row mx-3">
                <div class="col-md-8">
                <h4 class="font-weight-bold ">Host</h4>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <label class="search-label font-weight-bold " for="search" >Search:</label>
                <input  id="search" class="search-input"  [(ngModel)]="searchText" autocomplete="on" placeholder="">
                </div>
              </div>
      
              <div class="card-body ">
                    <table class="table table-striped table-dark">
                      <thead>
                        <tr>
                          <th scope="col">Host Name</th>
                          <th scope="col">CPU Types</th>
                          <th scope="col">RAM</th>
                          <th scope="col">UP Time</th>
                          <th scope="col">OS Types</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let hosts of trendinghosts | filter:searchText">
                          <td><a [routerLink]='["/hosts" , hosts._id]' >{{hosts.hostName}}</a></td>
                          <td>{{hosts.cpu_info.model}}</td>
                          <td>{{hosts.memory}}</td>
                          <td>Days: {{hosts.uptime.days}} <br> hours: {{hosts.uptime.hours}} <br> minutes: {{hosts.uptime.minutes}}
                          </td>
                          <td>{{hosts.os_info.name}}</td>
                        </tr>
                       
                      </tbody>
                    </table>
                        
              </div>
            </div>
            </div>
          </div>


          <div class="container my-4 ">
            <div class="row d-flex justify-content-center ">
              <div class="col-md-2 box mx-4 bg-danger ">
                <div class="text-center  m-3">
              <h5 class="font-weight-bold">Total Events</h5>
              <br>
              <h6 class="font-weight-bold ">{{x+y+z}}</h6>
            </div>
              </div>
              <div class="col-md-2 box mx-4 bg-info">
                <div class="text-center m-3">
              <h5 class="font-weight-bold">Application</h5>
              <br>
              <h6 class="font-weight-bold ">{{x}}</h6>
            </div>
              </div>  <div class="col-md-2 box mx-4 bg-success ">
                <div class="text-center m-3">
              <h5 class="font-weight-bold">System</h5>
              <br>
              <h6 class="font-weight-bold ">{{z}}</h6>
            </div>
              </div>  <div class="col-md-2 box mx-4 bg-warning ">
                <div class="text-center m-3">
              <h5 class="font-weight-bold">Security</h5>
              <br>
              <h6 class="font-weight-bold ">{{y}}</h6>
            </div>
              </div>
  
          
        </div>
      </div>

      <div class="row mx-4">
        <div class="tabs col-md-12 my-4">
        <div class="card m-4 ">
          <div class="card-header row mx-3">
            <div class="col-md-8">
            <h4 class="font-weight-bold ">Alerts</h4>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <label class="search-label font-weight-bold " for="search">Search:</label>
            <input id="search" class="search-input" [(ngModel)]="searchText2" autocomplete="on" placeholder=" SEARCH  ">
            </div>
          </div>
  
          <div class="card-body ">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table table-bordered table-striped mb-0 table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Host Name</th>
                      <th scope="col">Attack ID</th>
                      <th scope="col">User</th>
                      <th scope="col">Tactic</th>
                      <th scope="col">Technique</th>
                      <th scope="col">Alert Time</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of trendingsysmon | filter:searchText2 ">
                      <td>{{data.HostName}}</td>
                      <td>{{data.AttackID}}</td>
                      <td>{{data.User}}</td>
                      <td>{{data.Tactic}}</td>
                      <td>{{data.Technique}}</td>
                      <td>{{data.AlertTime}}</td>
                      <td>{{data.Description}}</td>
                    </tr>
                  </tbody>
                </table>
            </div> 
          </div>
        </div>
        </div>
      </div>
