p:hover{
      font-size: 18px;
      color: #dc3545;
      text-decoration:none; 
}

i{
      font-size: 50px;
      color: #fff;
}
i:hover{
      font-size:51px;
      text-decoration: none; 
      color: #151a30;
}
h6:hover{
      font-size: 18px;
      color: #151a30;
      text-decoration:none; 
}
#mychart{
      display: block;
}
#myChart{
      display: block;
}
.tab{
      background-color: #222b45a8;
      border: 0.0625rem solid #101426;
      border-radius: 20px;
      box-shadow: none;
      margin-bottom: 20px;
     
}
.my-custom-scrollbar {
      position: relative;
      height: 500px;
      overflow: auto;
      
}
.table-wrapper-scroll-y {
     display: block;
     
}
